# Virtual environment
venv/

notebooks/

# Python
__pycache__/
*.pyc
*.pyo

# Mac
.DS_Store
.vscode
.claude

git rm --cached ds003969
echo "ds003969/" >> .gitignore
git add .gitignore
git commit -m "ignorar dataset"